* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 109.71%;
  color: #1E0606;
  text-transform: uppercase;
}

h1 {
  padding-bottom: 20px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  color: #121212;
}

section {
  margin-bottom: 90px;
}

.cat__title,
.cat__descr,
.container,
.select__wrap {
  max-width: 1210px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.cat__title-fluid,
.cat__descr-fluid,
.container-fluid,
.select__wrap-fluid {
  position: relative;
  margin: 0 auto;
}

.button {
  display: block;
  padding: 10px 20px;
  background: #2C2C2C;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.button__next {
  position: relative;
  margin-right: -70px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.button__next:hover::before, .button__next:hover::after {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  background: #C29974;
}

.button__next:active::before, .button__next:active::after {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  background: #E0CCB9;
}

.button__next::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 5px;
  width: 19px;
  height: 4px;
  background: #E3E0E0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.button__next::after {
  content: '';
  position: absolute;
  top: 21px;
  left: 5px;
  width: 19px;
  height: 4px;
  background: #E3E0E0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.button__prev {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: -60px;
  cursor: pointer;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.button__prev:hover::before, .button__prev:hover::after {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  background: #C29974;
}

.button__prev:active::before, .button__prev:active::after {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  background: #E0CCB9;
}

.button__prev::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 8px;
  width: 19px;
  height: 4px;
  background: #E3E0E0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.button__prev::after {
  content: '';
  position: absolute;
  top: 23px;
  left: 8px;
  width: 19px;
  height: 4px;
  background: #E3E0E0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.button:hover {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  background: #C29974;
}

.button:active {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  background: #2C2C2C;
  color: #C29974;
}

.button_main, .button_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 31;
  font-size: 11px;
  line-height: 15px;
  background-color: #1E0606;
  border: none;
  cursor: pointer;
}

.button_section {
  width: 180px;
  height: 40px;
  font-size: 14px;
}

.header__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrap img:hover {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  opacity: 0.6;
}

.header__wrap img:active {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  opacity: 0.3;
}

.header__wrap li {
  list-style: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 22.88px;
  line-height: 120%;
  color: #000000;
}

.header__wrap li a {
  text-decoration: none;
  color: #000000;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30%;
}

.header__nav li {
  display: inline-block;
  width: 90px;
  text-align: center;
}

.header__nav a {
  color: #000000;
}

.header__nav a:hover {
  font-weight: 600;
}

.header__nav a:active {
  font-weight: 700;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

.header__search li {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.header__search a:hover {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  font-weight: 400;
}

.header__search a:active {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  font-weight: bold;
}

.header__nav-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  padding-top: 50px;
  padding-bottom: 55px;
}

.menu_button-close {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.menu_button-close,
.menu_button-open {
  text-decoration: none;
  font-size: 30px;
  color: grey;
  font-family: sans-serif;
  padding: 16px 25px;
  display: none;
  cursor: pointer;
}

.fixed-top {
  position: fixed;
  z-index: 1030;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 12px rgba(159, 159, 159, 0.49);
          box-shadow: 0 2px 12px rgba(159, 159, 159, 0.49);
  padding-top: 10px;
  padding-bottom: 10px;
}

.fly_menu {
  width: 380px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -500px;
  z-index: 1030;
  background-color: #eee4db;
}

.menu-hide {
  right: -500px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.menu-open {
  right: 0;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.scroll-none {
  overflow: hidden;
  -webkit-transition: 2s all;
  transition: 2s all;
}

.scroll-none::before {
  -webkit-transition: 2s all;
  transition: 2s all;
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
}

.main-slider {
  margin-bottom: 80px;
  margin-top: -15px;
}

.main__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__item {
  position: relative;
  height: 456px;
  background-color: #EEE4DB;
}

.main__item-top {
  height: 90px;
  background-color: #ffffff;
}

.main__item_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__item-slider {
  width: calc(100% - 90px);
}

.main__item-descr {
  width: 480px;
  margin-left: 40px;
}

.main__item-descr h1 {
  padding-top: 88px;
}

.main__item-descr p {
  padding-bottom: 18px;
  font-family: Crimson Text;
  font-style: italic;
  font-weight: normal;
  font-size: 20.1496px;
  line-height: 25px;
  color: #1E0606;
}

.main__item-img {
  position: absolute;
  bottom: 0;
  right: 62px;
  margin-bottom: -35px;
}

.main__item-img img {
  width: 100%;
}

.main__item-footer {
  position: relative;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C29974;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12.3997px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.dots-nav {
  width: 90px;
  margin-top: 90px;
  background-color: #EEE4DB;
}

.dots-nav__current-slide {
  position: relative;
  margin-left: -15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 77.4984px;
  color: rgba(30, 6, 6, 0.05);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dots-nav__current-slide::before {
  position: absolute;
  content: '';
  top: 10px;
  left: 0;
  width: 15px;
  height: 75px;
  background-color: #ffffff;
}

.dots-nav__dots {
  width: 31px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cat-button__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 31px;
  width: 1210px;
  margin: 0 auto;
  margin-top: 30px;
}

.cat__title {
  margin-top: -41px;
  margin-bottom: 28px;
}

.cat__descr {
  margin-top: 30px;
  margin-bottom: 90px;
}

.cat__descr p {
  width: 50%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

.c-card {
  position: relative;
  width: 280px;
  height: 270px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.c-card__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.c-card__title span {
  position: absolute;
  padding: 0 34px 0 34px;
  z-index: 0;
}

.c-card__title a {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.delivery__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery__img {
  margin-right: 60px;
}

.delivery__content {
  margin-left: 60px;
  padding-top: 38px;
}

.delivery__content p {
  padding-bottom: 15px;
  line-height: 22px;
  color: #333333;
}

.delivery__title {
  width: 270px;
  padding-bottom: 20px;
}

.delivery__title h2 {
  padding-bottom: 12px;
}

.delivery__title ul {
  list-style: none;
  font-family: Crimson Text;
  font-style: italic;
  font-size: 26px;
  line-height: 32px;
  color: #1E0606;
}

.delivery__title ul li {
  margin-left: -60px;
  padding: 12px 0 10px 60px;
  cursor: pointer;
}

.delivery__item:hover {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  font-weight: bold;
  background: rgba(112, 187, 220, 0.2);
}

.delivery__item-active {
  font-weight: bold;
  background: rgba(112, 187, 220, 0.2);
}

.delivery__descr {
  padding-bottom: 20px;
}

.logo-line__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts {
  padding-bottom: 70px;
}

.contacts__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__wrap p {
  padding-bottom: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.contacts__design, .contacts__contacts {
  position: relative;
  max-width: 49%;
  padding: 0 30px 40px 30px;
  background: #e1f0f7;
}

.design__title {
  margin-top: -24px;
  padding-bottom: 25px;
}

.design__about {
  display: block;
  padding-bottom: 8px;
  font-family: Crimson Text;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #1E0606;
}

.map__wrap {
  position: absolute;
  bottom: -88px;
  width: 100%;
  padding-right: 60px;
  height: 196px;
}

footer,
h4 {
  background: #434343;
  color: #ffffff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.footer__nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 15px;
}

.footer h4 {
  color: #aaaaaa;
  padding-bottom: 23px;
}

.footer__nav, .footer__info, .footer__connect, .footer__rating, .footer__web, .footer__copy {
  width: 32%;
}

.footer__nav h4, .footer__info h4, .footer__connect h4, .footer__rating h4, .footer__web h4, .footer__copy h4 {
  border-bottom: 1px solid #666666;
}

.footer__nav ul, .footer__info ul, .footer__connect ul, .footer__rating ul, .footer__web ul, .footer__copy ul {
  list-style: none;
  padding-top: 28px;
}

.footer__nav li, .footer__info li, .footer__connect li, .footer__rating li, .footer__web li, .footer__copy li {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  padding-bottom: 16px;
}

.footer__nav li:hover, .footer__info li:hover, .footer__connect li:hover, .footer__rating li:hover, .footer__web li:hover, .footer__copy li:hover {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  font-weight: 600;
}

.footer__nav li:active, .footer__info li:active, .footer__connect li:active, .footer__rating li:active, .footer__web li:active, .footer__copy li:active {
  font-weight: bold;
}

.footer__nav li a, .footer__info li a, .footer__connect li a, .footer__rating li a, .footer__web li a, .footer__copy li a {
  text-decoration: none;
  color: #ffffff;
}

.footer__connect form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 28px;
  padding-bottom: 28px;
}

.footer__email {
  width: 79%;
  border: none;
  height: 40px;
  display: block;
  padding: 12px;
  font-size: 16px;
  font-family: Open Sans;
  color: #EBEBEB;
  background-color: #666666;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
  border-bottom: 1px solid #666666;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.footer__email:hover {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.footer__email:focus {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
  color: #000000;
  outline: none;
}

.footer__button {
  border: none;
  height: 40px;
  min-width: 80px;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}

.footer__button:hover {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  background: #C29974;
}

.footer__button:active {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  background: #2C2C2C;
  color: #C29974;
}

.footer__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 100px;
  border-top: 1px solid #666666;
}

.footer__web {
  color: #aaaaaa;
}

.rating__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating__wrap:active p {
  color: #C29974;
}

.rating__wrap p {
  color: #ffffff;
  line-height: 22px;
  padding-right: 25px;
}

.rating__wrap p:active {
  color: #ffffff;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  width: 30px;
  height: 30px;
  background: #666666;
  margin-right: 10px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.social__item:hover {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  opacity: 0.5;
}

.social__item:active {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  opacity: 0.2;
}

.social__item-f {
  background-image: url(../img/f.svg);
}

.social__item-t {
  background-image: url(../img/t.svg);
  background-position: 8px 9px;
}

.social__item-p {
  background-image: url(../img/p.svg);
}

.social__item-i {
  background-image: url(../img/i.svg);
}

#reviewStars-input input:checked ~ label,
#reviewStars-input label,
#reviewStars-input label:hover,
#reviewStars-input label:hover ~ label {
  background: url("../img/star_level.svg") no-repeat;
}

#reviewStars-input {
  overflow: hidden;
  height: 25px;
  padding-top: 4px;
  padding-left: 9px;
  position: relative;
  float: left;
}

#reviewStars-input input {
  opacity: 0;
  width: 22px;
  height: 19px;
  position: absolute;
  top: 0;
  z-index: 0;
}

#reviewStars-input input:checked ~ label {
  background-position: 0 -17px;
  height: 15px;
  width: 18px;
}

#reviewStars-input label {
  background-position: 0 0;
  height: 15px;
  width: 18px;
  float: right;
  cursor: pointer;
  margin-right: 3px;
  position: relative;
  z-index: 1;
}

#reviewStars-input label:hover,
#reviewStars-input label:hover ~ label {
  background-position: 0 -17px;
  height: 19px;
  width: 18px;
}

#reviewStars-input #star-0 {
  left: 0px;
}

#reviewStars-input #star-1 {
  left: 25px;
}

#reviewStars-input #star-2 {
  left: 50px;
}

#reviewStars-input #star-3 {
  left: 75px;
}

#reviewStars-input #star-4 {
  left: 100px;
}

#reviewStars-input #star-5 {
  left: 125px;
}
/*# sourceMappingURL=style.css.map */