.catalog
	margin-bottom: 35px
.breadcrumbs
	font-family: Crimson Text
	font-style: italic
	font-weight: normal
	font-size: 20px
	line-height: 25px
	padding-bottom: 48px
	margin-bottom: 0
	ul
		list-style-image: url(../img/v.svg)
		display: flex
		li
			padding-right: 40px
			padding-left: 9px
			a
				text-decoration: none
				color: #1E0606
			&:first-child
				list-style: none
				padding-left: 0
			&:last-child
				a
					color: #8F8383
.card
	margin-bottom: 20px
	&__wrap
		&-row1
			display: flex
			flex-wrap: wrap
		&-row2
			display: flex
			flex-wrap: wrap
			justify-content: center
	&__item
		&:last-child
			align-self: flex-end
.descr
	margin-bottom: 27px
	&__wrap
		max-width: 862px
		margin: 0 auto
		p
			padding-bottom: 15px
			max-width: 678px
			