*
	margin: 0
	padding: 0
	box-sizing: border-box
// div,
// li,
// a,
// ul
// 	border: 1px solid #000
h1,
h2
	font-family: Montserrat
	font-style: normal
	font-weight: bold
	font-size: 40px
	line-height: 109.71%
	color: #1E0606
	text-transform: uppercase
h1
	padding-bottom: 20px 
h2
	font-size: 38px
h3
	font-family: Montserrat
	font-style: normal
	font-weight: bold
	font-size: 24px
	line-height: 31px
	color: #000000

p
	font-family: Open Sans
	font-style: normal
	font-weight: normal
	font-size: 16px
	line-height: 180%
	color: #121212

section
	margin-bottom: 90px

.cat__title,
.cat__descr,
.container,
.select__wrap
	max-width: 1210px
	margin: 0 auto
	padding-left: 15px
	padding-right: 15px
	&-fluid
		position: relative
		margin: 0 auto
.button
	display: block
	padding: 10px 20px
	background: #2C2C2C
	font-family: Open Sans
	font-style: normal
	font-weight: bold
	color: #FFFFFF
	text-decoration: none
	text-transform: uppercase
	transition: 0.2s all ease
	&__next
		position: relative
		margin-right: -70px
		width: 40px
		height: 40px
		cursor: pointer
		transition: 0.2s all ease
		&:hover
			&::before,
			&::after
				transition: 0.2s all ease
				background: #C29974
		&:active
			&::before,
			&::after
				transition: 0.2s all ease
				background: #E0CCB9
		&::before
			content: ''
			position: absolute
			top: 10px
			left: 5px
			width: 19px
			height: 4px
			background: #E3E0E0
			transform: rotate(45deg)
    	// transform-origin: bottom right
		&::after
			content: ''
			position: absolute
			top: 21px
			left: 5px
			width: 19px
			height: 4px
			background: #E3E0E0
			transform: rotate(-45deg)
    	// transform-origin: top right
	&__prev
		position: relative
		width: 40px
		height: 40px
		margin-left: -60px
		cursor: pointer
		transition: 0.2s all ease
		&:hover
			&::before,
			&::after
				transition: 0.2s all ease
				background: #C29974
		&:active
			&::before,
			&::after
				transition: 0.2s all ease
				background: #E0CCB9
		&::before
			content: ''
			position: absolute
			top: 12px
			left: 8px
			width: 19px
			height: 4px
			background: #E3E0E0
			transform: rotate(135deg)
    	// transform-origin: bottom right
		&::after
			content: ''
			position: absolute
			top: 23px
			left: 8px
			width: 19px
			height: 4px
			background: #E3E0E0
			transform: rotate(45deg)
    	// transform-origin: top right
	&:hover
		transition: 0.2s all ease
		background: #C29974
	&:active
		transition: 0.2s all ease
		background: #2C2C2C
		color: #C29974
	&_main,
	&_section
		display: flex
		justify-content: center
		align-items: center
		width: 140px
		height: 31
		font-size: 11px
		line-height: 15px
		background-color: #1E0606
		border: none
		cursor: pointer
		
	&_section
		width: 180px
		height: 40px
		font-size: 14px
	
.header
	&__wrap
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
		padding-top: 50px
		padding-bottom: 55px
		img
			&:hover
				transition: 0.2s all ease
				opacity: 0.6
			&:active
				transition: 0.2s all ease
				opacity: 0.3
		li
			list-style: none
			text-transform: uppercase
			font-family: 'Open Sans', sans-serif
			font-size: 14px
			line-height: 22.88px
			line-height: 120%
			color: #000000
			a
				text-decoration: none
				color: #000000
			// &:hover
			// 	font-weight: 600
			// &:active
			// 	font-weight: 700
	&__nav
			display: flex
			li
				padding-right: 30px
			a
				color: #000000
				&:hover
					font-weight: 600
				&:active
					font-weight: 700
	&__search
			display: flex
			font-weight: bold
			li
				padding-left: 41px
			a
				&:hover
					transition: 0.2s all ease
					font-weight: 400
				&:active
					transition: 0.2s all ease
					font-weight: bold
.main
	&-slider
		margin-bottom: 80px
		margin-top: -15px
	&__items
		// padding-top: 75px
		display: flex
		flex-direction: column
		// width: 500px
	&__item
		position: relative
		height: 456px
		// width: 600px
		background-color: #EEE4DB
		&-top
			height: 90px
			background-color: #ffffff
		&_wrap
			display: flex
			justify-content: space-between


		&-slider
			// display: flex
			width: calc(100% - 90px)
		&-descr
			width: 480px
			margin-left: 40px
			h1
				padding-top: 88px
				
			p
				padding-bottom: 18px
				font-family: Crimson Text
				font-style: italic
				font-weight: normal
				font-size: 20.1496px
				line-height: 25px
				color: #1E0606
		&-img
			position: absolute
			bottom: 0
			right: 62px
			margin-bottom: -35px
			img
				width: 100%
		&-footer
			position: relative
			height: 38px
			display: flex
			justify-content: center
			align-items: center
			background-color: #C29974
			font-family: Open Sans
			font-style: normal
			font-weight: bold
			font-size: 12.3997px
			line-height: 17px
			text-transform: uppercase
			color: #FFFFFF
.dots-nav
	width: 90px
	margin-top: 90px
	background-color: #EEE4DB
	&__current-slide
		position: relative
		margin-left: -15px
		font-family: Montserrat
		font-style: normal
		font-weight: 300
		font-size: 77.4984px
		color: rgba(30, 6, 6, 0.05)
		user-select: none
		&::before
			position: absolute
			content: ''
			top: 10px
			left: 0
			width: 15px
			height: 75px
			background-color: #ffffff
	&__dots
		width: 31px
		height: 45px
		// border: 1px solid black
		display: flex
		flex-direction: column
		// margin-top: 8px
		// margin-left: 33px
		justify-content: space-between
	// &__item
	// 	width: 100%
	// 	height: 3px
	// 	background: rgba(30, 6, 6, 0.12)
	// 	cursor: pointer
	// 	transition: 0.2s all ease
	// 	&-active
	// 		transition: 0.2s all ease
	// 		background: rgba(30, 6, 6, 0.6)
	// 	&:hover
	// 		transition: 0.2s all ease
	// 		background: rgba(30, 6, 6, 0.6)
.cat
	&-button__wrap
		display: flex
		justify-content: space-between
		top: 31px
		width: 1210px
		margin: 0 auto
		margin-top: 30px
	&__title
		margin-top: -41px
		margin-bottom: 28px
	&__descr
		margin-top: 30px
		margin-bottom: 90px
		p
			width: 50%
			font-family: Open Sans
			font-style: normal
			font-weight: normal
			font-size: 16px
			line-height: 26px
			color: #000000

.c-card
	position: relative
	width: 280px
	height: 270px
	margin-left: 20px
	background-repeat: no-repeat
	background-position: center
	cursor: pointer
	&__title
		position: relative
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		height: 100%
		font-family: Montserrat
		font-style: normal
		font-weight: bold
		font-size: 26px
		line-height: 35px
		text-align: center
		text-transform: uppercase
		color: #FFFFFF
		text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25)
		span
			position: absolute
			padding: 0 34px 0 34px
			z-index: 0
		a
			// text-decoration: none
			// color: #FFFFFF
			width: 100%
			height: 100%
			z-index: 1
.delivery
	&__wrap
		display: flex
	&__img
		margin-right: 60px
	&__content
		margin-left: 60px
		padding-top: 38px
		p
			padding-bottom: 15px
			line-height: 22px
			color: #333333
	&__title
		width: 270px
		padding-bottom: 20px
		h2
			padding-bottom: 12px
		ul
			list-style: none
			font-family: Crimson Text
			font-style: italic
			font-size: 26px
			line-height: 32px
			color: #1E0606
			li
				margin-left: -60px
				padding: 12px 0 10px 60px
				cursor: pointer
	&__item
		&:hover
			transition: 0.2s all ease
			font-weight: bold
			background: rgba(112, 187, 220, 0.2)
		&-active
			font-weight: bold
			background: rgba(112, 187, 220, 0.2)
	&__descr
		padding-bottom: 20px
.logo-line
	&__wrap
		display: flex
		justify-content: space-around
		align-items: center
.contacts
	padding-bottom: 70px
	&__wrap
		display: flex
		justify-content: space-between
		p
			padding-bottom: 20px
			font-family: Open Sans
			font-style: normal
			font-weight: normal
			font-size: 16px
			line-height: 22px
			color: #333333
	&__design,
	&__contacts
		position: relative
		max-width: 542px
		padding: 0 30px 40px 30px
		background: #e1f0f7
.design
	&__title
		margin-top: -24px
		padding-bottom: 25px
	&__about
		display: block
		padding-bottom: 8px
		font-family: Crimson Text
		font-style: italic
		font-weight: normal
		font-size: 26px
		line-height: 32px
		color: #1E0606
.map__wrap
	position: absolute
	bottom: -88px
footer,
h4
	background: #434343
	color: #ffffff
	font-family: Open Sans
	font-style: normal
	font-weight: normal
	font-size: 16px
	line-height: 22px
.footer
	&__nav
		&-wrap 
			display: flex
			justify-content: space-between
			padding-top: 100px
			padding-bottom: 15px
	h4
		color: #aaaaaa
		padding-bottom: 23px
	&__nav,
	&__info,
	&__connect,
	&__rating,
	&__web,
	&__copy
		width: 32%
		h4
			border-bottom: 1px solid #666666
		ul
			list-style: none
			padding-top: 28px
		li
			transition: 0.2s all ease
			padding-bottom: 16px
			&:hover
				transition: 0.2s all ease
				font-weight: 600
			&:active
				font-weight: bold
			a
				text-decoration: none
				color: #ffffff
	&__connect
		form
			width: 100%
			display: flex
			justify-content: start
			padding-top: 28px
			padding-bottom: 28px
	&__email
		width: 79%
		border: none
		height: 40px
		display: block
		padding: 12px
		font-size: 16px
		font-family: Open Sans
		color: #EBEBEB
		background-color: #666666
		border-top: 1px solid #666666
		border-left: 1px solid #666666
		border-bottom: 1px solid #666666
		transition: 0.2s all ease
		&:hover
			transition: 0.2s all ease
			border-top: 1px solid #ffffff
			border-left: 1px solid #ffffff
			border-bottom: 1px solid #ffffff
		&:focus
			transition: 0.2s all ease
			border-top: 1px solid #ffffff
			border-left: 1px solid #ffffff
			border-bottom: 1px solid #ffffff
			background-color: #ffffff
			color: #000000
			outline: none
	&__button
		border: none
		height: 40px
		min-width: 80px
		font-family: Open Sans
		font-weight: bold
		font-size: 16px
		text-transform: uppercase
		color: #ffffff
		background-color: #000000
		cursor: pointer
		&:hover
			transition: 0.2s all ease
			background: #C29974
		&:active
			transition: 0.2s all ease
			background: #2C2C2C
			color: #C29974
	&__footer
		display: flex
		justify-content: space-between
		padding-top: 23px
		padding-bottom: 100px
		border-top: 1px solid #666666
	&__web
		color: #aaaaaa
.rating__wrap
	display: flex
	&:active p
		color: #C29974
	p
		color: #ffffff
		line-height: 22px
		padding-right: 25px
		&:active
			color: #ffffff
.social
	display: flex
	&__item
		width: 30px;
		height: 30px;
		background: #666666;
		margin-right: 10px;
		border-radius: 50%;
		background-repeat: no-repeat
		background-position: center
		background-size: auto
		&:hover
			transition: 0.2s all ease
			opacity: 0.5
		&:active
			transition: 0.2s all ease
			opacity: 0.2
		&-f
			background-image: url(../img/f.svg)
		&-t
			background-image: url(../img/t.svg)
			background-position: 8px 9px
		&-p
			background-image: url(../img/p.svg)
		&-i
			background-image: url(../img/i.svg)



#reviewStars-input input:checked ~ label,
#reviewStars-input label, 
#reviewStars-input label:hover,
#reviewStars-input label:hover ~ label
  background: url('../img/star_level.svg') no-repeat

#reviewStars-input
	overflow: hidden
	height: 25px
	padding-top: 4px
	padding-left: 9px
	position: relative
	float: left
	input
		opacity: 0
		width: 22px
		height: 19px
		position: absolute
		top: 0
		z-index: 0
		&:checked ~ label
			background-position: 0 -17px
			height: 15px
			width: 18px
	label
		background-position: 0 0
		height: 15px
		width: 18px
		float: right
		cursor: pointer
		margin-right: 3px
		position: relative
		z-index: 1
		&:hover,
		&:hover ~ label
			background-position: 0 -17px
			height: 19px
			width: 18px
	#star-0
		left: 0px
	#star-1 
		left: 25px
	#star-2
		left: 50px
	#star-3
		left: 75px
	#star-4
		left: 100px
	#star-5
		left: 125px

