*
	margin: 0
	padding: 0
	box-sizing: border-box
// div,
// li,
// a,
// ul
// 	border: 1px solid #000
h1
	font-family: Montserrat
	font-style: normal
	font-weight: bold
	font-size: 38px
	line-height: 109.71%
	color: #1E0606
	text-transform: uppercase
p
	ont-family: Open Sans
	font-style: normal
	font-weight: normal
	font-size: 16px
	line-height: 180%
	color: #121212

section
	margin-bottom: 90px

.cat__title,
.cat__descr,
.container
	max-width: 1210px
	margin: 0 auto
	padding-left: 15px
	padding-right: 15px
	&-fluid
		position: relative
		margin: 0 auto
.button
	padding: 10px 20px
	background: #2C2C2C
	font-family: Open Sans
	font-style: normal
	font-weight: bold
	color: #FFFFFF
	text-decoration: none
	&__next
		position: relative
		margin-right: -60px
		width: 30px
		height: 30px
		cursor: pointer
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 19px
			height: 4px
			background: #E3E0E0
			transform: rotate(45deg)
    	transform-origin: bottom right
		&::after
			content: ''
			position: absolute
			top: 11px
			left: 0
			width: 19px
			height: 4px
			background: #E3E0E0
			transform: rotate(-45deg)
    	transform-origin: top right
	&__prev
		position: relative
		width: 30px
		height: 30px
		margin-left: -48px
		cursor: pointer
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 19px
			height: 4px
			background: #E3E0E0
			transform: rotate(135deg)
    	// transform-origin: bottom right
		&::after
			content: ''
			position: absolute
			top: 11px
			left: 0
			width: 19px
			height: 4px
			background: #E3E0E0
			transform: rotate(45deg)
    	// transform-origin: top right
	&:hover
		background: #C29974
	&:active
		background: #2C2C2C
		color: #C29974
	&_main
		font-size: 10.8498px
		line-height: 15px
		padding: 9px 35px
		background-color: #1E0606
.header
	&__wrap
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
		padding-top: 50px
		img
			&:hover
				opacity: 0.6
			&:active
				opacity: 0.3
		li
			list-style: none
			text-transform: uppercase
			font-family: 'Open Sans', sans-serif
			font-size: 14px
			line-height: 22.88px
			line-height: 120%
			color: #000000
			a
				text-decoration: none
				color: #000000
			// &:hover
			// 	font-weight: 600
			// &:active
			// 	font-weight: 700
	&__nav
			display: flex
			li
				padding-right: 30px
			a
				color: #000000
				&:hover
					font-weight: 600
				&:active
					font-weight: 700
	&__search
			display: flex
			font-weight: bold
			li
				padding-left: 41px
			a
				&:hover
					font-weight: 400
				&:active
					font-weight: bold
.main
	&-slider
		margin-bottom: 80px
	&__items
		margin-top: 112px
	&__item
		position: relative
		height: 371px
		width: 100%
		background-color: #EEE4DB
		&_wrap
			display: flex
			width: 100%
		&-descr
			width: 480px
			margin-left: 40px
			h1
				padding-top: 88px
				padding-bottom: 20px
				
			p
				padding-bottom: 18px
				font-family: Crimson Text
				font-style: italic
				font-weight: normal
				font-size: 20.1496px
				line-height: 25px
				color: #1E0606
		&-img
			position: absolute
			bottom: 0
			right: 62px
			margin-bottom: -35px
			img
				width: 100%
		&-footer
			position: relative
			height: 38px
			display: flex
			justify-content: center
			align-items: center
			background-color: #C29974
			font-family: Open Sans
			font-style: normal
			font-weight: bold
			font-size: 12.3997px
			line-height: 17px
			text-transform: uppercase
			color: #FFFFFF
.dots-nav
	width: 90px
	background-color: #EEE4DB
	&__current-slide
		position: relative
		margin-left: -15px
		font-family: Montserrat
		font-style: normal
		font-weight: 300
		font-size: 77.4984px
		color: rgba(30, 6, 6, 0.05)
		&::before
			position: absolute
			content: ''
			top: 10px
			left: 0
			width: 15px
			height: 75px
			background-color: #ffffff
	&__dots
		width: 31px
		height: 45px
		// border: 1px solid black
		display: flex
		flex-direction: column
		margin-top: 8px
		margin-left: 33px
		justify-content: space-between
	&__item
		width: 100%
		height: 3px
		background: rgba(30, 6, 6, 0.12)
		cursor: pointer
		&-active
			background: rgba(30, 6, 6, 0.6)
		&:hover
			background: rgba(30, 6, 6, 0.6)
.cat
	&-button__wrap
		display: flex
		justify-content: space-between
		top: 31px
		width: 1210px
		margin: 0 auto
		margin-top: 30px
	&__title
		margin-top: -41px
		margin-bottom: 28px
	&__descr
		margin-top: 30px
		margin-bottom: 90px
		p
			width: 50%
			font-family: Open Sans
			font-style: normal
			font-weight: normal
			font-size: 16px
			line-height: 26px
			color: #000000

.cat-slider
	&__card
		position: relative
		width: 280px
		height: 270px
		background: rgba(186, 142, 107, 0.3)
		margin-left: 20px
		// background-image: url(../img/item1.png)
		background-repeat: no-repeat
		background-position: center
		cursor: pointer
		&-title
			display: flex
			justify-content: center
			align-items: center
			width: 100%
			height: 100%
			font-family: Montserrat
			font-style: normal
			font-weight: bold
			font-size: 26px
			line-height: 35px
			text-align: center
			text-transform: uppercase
			color: #FFFFFF
			text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25)
		&-img
			// background-image: url(../img/item1.png)
			// background-repeat: no-repeat
			// width: 208px
			// height: 244px
	