// .select
// 	&__wrap
// 		display: flex
// 		justify-content: space-between
// 		form
// 			display: flex
// 			justify-content: space-between
// 	&__range
// 		display: flex
.product-card
	margin-bottom: 10px

.prod
	&__item
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: center
		&:hover .hover__wrap
			display: flex
.p-card
	&__img
		background-repeat: no-repeat
		background-position: center
		background-size: auto
		width: 380px
		height: 400px
	&__title
		text-align: center
		padding-bottom: 10px
		font-size: 14px
		text-transform: uppercase
	&__price
		text-align: center
		padding-bottom: 20px
		font-weight: bold
		font-size: 16px
		text-transform: uppercase
.hover__wrap
	position: absolute
	width: 207px
	height: 207px
	background: #E5EAF8
	display: none
	justify-content: center
	align-items: center
	top: 90px
	background: RGBA(229, 234, 248, 0.9)
	cursor: pointer
	&:active
		background: RGBA(229, 234, 248, 0.67)
	span
		font-family: Montserrat
		font-style: normal
		font-weight: bold
		font-size: 26px
		line-height: 29px
		text-align: center
		text-transform: uppercase
		color: #000000
		text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25)
		user-select: none
